:root {
    --bgcolor: #FFFFFF; 
    --peach: #E08886; 
    --redpink: #B82438;
    --darkpurple: #1C142C;
    --skyblue: #149FB2;
    --bluecyan: #4EB6B5;
    --textcolor: var(--darkpurple);
}
*{
    margin: 0;
    padding: 0;
    /*font-family: 'Poppins', sans-serif;*/
    font-family: 'Rubik';
    box-sizing: border-box;
}

body{
    background: var(--bgcolor);
    color: var(--textcolor);
    
}

#header{
    width: 100%;
    height: 100vh;
    background-image: none;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
}

nav ul li:not(.header-name){
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li.header-name{
    display: inline-block;
    list-style: none;
    margin: 10px 0px;
}


nav ul li a{
    color: var(--textcolor);
    text-decoration: none;
    font-size: 18px;
    position:relative;
}

nav ul li:not(.header-name) a::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--redpink);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: all 0.5s ease;
    left: 50%; 
    transform: translate(-50%, 0); 
}

nav ul li:not(.header-name) a:hover::after{
    width: 100%;
}

nav ul li.header-name a{
    color: var(--redpink);
    list-style-type: none;
    font-weight: bold;
    font-size: 16px;
}

.header-text{
    margin-top: 10%;
    font-size: 20px;
}

.header-text h1{
    font-size: 36px;
    font-weight: bold;
    margin-top: 20px;
}

.header-text p{
    font-family: 'Poppins', sans-serif;
}




